[Unit]
Description=ViewTrain FastAPI Application
After=network.target

[Service]
User=n1x9s
Group=n1x9s
WorkingDirectory=/home/n1x9s/viewTrain
Environment="PATH=/home/n1x9s/viewTrain/.venv/bin"
ExecStart=/home/n1x9s/viewTrain/.venv/bin/gunicorn -c gunicorn_config.py app.main:app
Restart=always

[Install]
WantedBy=multi-user.target 