[Unit]
Description=ViewTrain FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/viewTrain
Environment="PATH=/home/ubuntu/viewTrain/.venv/bin"
ExecStart=/home/ubuntu/viewTrain/.venv/bin/gunicorn -c gunicorn_config.py app.main:app
Restart=always

[Install]
WantedBy=multi-user.target 